.boutton-a-props {
  height: 100px;
  /* position: relative; */
  /* margin-bottom: 0; */
  text-decoration: none;
  padding-left: 5rem;
  font-size: 25px;
  color: black;
}

.boutton-carte {
  text-decoration: none;
  padding-left: 25px;
  font-size: 25px;
  color: black;
}
.parent-nav {
  margin-top: -2px;
  font-size: 22px;
  align-items: end;
}
