header{
    left: 0;
    width: 25vw;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.earth-3D{
    width: 100%;
}

canvas{
    position: relative;
    left: -33px ;
    max-width: 400px;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0);
}

h1{
    position: relative;
    left: -70px ;
    z-index: 1;
    font-family: "figtree";
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 10px;
}