/*  background site */

body {
  background: rgb(187, 228, 233);
  background: radial-gradient(
    circle,
    rgba(187, 228, 233, 1) 0%,
    rgba(83, 168, 182, 1) 70%
  );
  background-size: 150vw;
  background-position: right;
}

/* Bouton et texte de la page de chargement /LUCAS/ */

.section_loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  margin-left: 80rem;
  top: 400px;
}

.h2-loader {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.p-loader {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.boutton {
  text-decoration: none;
  font-size: 3rem;
  background-color: #bbe4e9;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 150px;
  -webkit-box-shadow: 0px 11px 21px 4px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 11px 21px 4px rgba(0, 0, 0, 0.58);
}

.svg-spinner {
  background: rgb(187, 228, 233);
  background: radial-gradient(
    circle,
    rgba(187, 228, 233, 1) 0%,
    rgba(83, 168, 182, 1) 70%
  );
  background-size: 150vw;
  background-position: right;
  width: 100vw;
  height: 100vh;
  z-index: 11000;
  /* top: 0; */
}
