/* La card dans mention légales  */

.card {
  width: 115rem;
  height: 43rem;
  margin: auto;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
  color: black;
  font-size: 21px;
  text-align: left;
  text-shadow: 0px 0px px gray;
}
/* le titre de mention légales */
.mentionlegaltitre {
  color: black;
  text-align: center;
}
/* Paragraphe dans mention légales */
.mentionlegalp {
  margin-left: 15px;
}
/* en dessous sa FOOTER*/
