.map {
  position: relative;

  display: flex;
  background-image: url("../../assets/images/Carte_France_Temporaire.png");
  border-radius: 20px;
  height: 95vh;
  width: 60vw;
  margin-top: -140px;
  margin-right: -120px;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.main {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.img-pin {
  height: 50px;
}

.interieur-map {
  display: flex;
  flex-wrap: wrap;
}

.groundwater-chartcard {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
